.logo de anima{
    position: relative;
    height: 10vh;
    width: 125px;
    top: -0.7em;
}
.navbar {
    padding: -5rem 20rem;
    justify-content: center;
    margin: auto;
}
.navbar-dark {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 8px;
}