.Logo{
    font-family: 'Brandon Text Bold';
    font-size: 100px;
    color: #bdbd31;
    display: flex;
    justify-content: center;
}
.Logos{
    font-family: 'Brandon Text Bold';
    font-size: 70px;
    color: #bdbd31;
    display: flex;
    justify-content: center;
}
.Cajas{
    border-block-end-color: #FF0000
}