.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 10;
}
.custom-select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius: 30px;
}
.fondo{
    width: 150%;
    height: 150%;
    position: absolute;
}    
.titulo {
    color: black;
    font-size: 16vh; 
    font-family: 'Source Sans Pro', sans-serif;
}

.subtitulo {
    color: #47babb;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6vh;
}
.uno {
    padding-left: 25%;
    padding-right: 25%;
}
.inputs {
    margin-top: 2%;
}
.dos {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 3%;
}
.tres {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 3%;
}
.cuatro {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 3%;
}

.cinco {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 3%;
}
.form-control {
    border-radius: 20px!important;
}

.custom-select {
    border-radius: 30px;
}
.anima-backgraund {
    font-size: 70px;
    color: #2d225e;
    display: flex;
    justify-content: center;
    top: -2vh;
}
.navbar {
    justify-content: center;
    margin: auto;
}
.navbar-dark {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 8px;
}
.logo{
    position: relative;
    height: 10vh;
    width: 125px;
    top: -0.7em;
}












