.navbar {
      margin-top: 10px;
      background-color: black;
      border-radius: 50px;
  }
  .navbar-brand {
      color: white;
      font-size: 150%;
  }
  .navbar-brand2 {
      
      color:black;
      font-size: 150%;
  }
  
